<h1><%= t("users.new.reset_pass") %></h1>

<p><%= t("users.new.to_reset") %></p>

<%= link_to t("users.new.reset_pass"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t("users.new.this_link") %></p>

<p><%= t("users.new.not_request") %></p>
